<%provide(:title, 'Home')%>
<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
</head>
<body>
  <h1>Sample App</h1>
  <p>
   this is the HOME page for the ruby on rails tutorial sample application. you can visit the source <a href="http://railstutorial.org/">here</a>
  </p>
</body>
</html>